<html>
<head>
  <style>

        </style>
</head>
<body>
  
  <p>Dear {{name}},</p>

  <p>New Project is created and is assigned to you!</p>
  <p>Sincerely,</p>
  <p>My Sun Help</p>

  <p>We want you to love what we deliver.</p>
  <p>Really, we mean it. If you don’t love what we delivered for any reason, we’ll redo it for free.</p>

  
</body>
</html>
