<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Dear, {{name}}!</p>
        <p>Project Name: {{projectName}}</p>
        <p>There's an update on the project</p>
        <p></p>
        <p>Thanks,</p>
        <p></p>
        <p></p>
        <p>MY SUN HELP</p>
    </body>
</html>